<%-include header%>
<div class="main-container">
<header>
    <h1 class="text-center text-warning" >实习消息</h1>
</header>
    <h3 class="text-center"style="color:#CC6633;"><%=intern.company%></h3>
<div class="profile-user-info profile-user-info-striped">
    <div class="profile-info-row">
        <div class="profile-info-name"> 类别 </div>

        <div class="profile-info-value">
            <span ><%=intern.category%></span>
        </div>
    </div>

    <div class="profile-info-row">
        <div class="profile-info-name"> 发布时间 </div>

        <div class="profile-info-value">
            <span ><%= moment(intern.createTime).locale('zh-cn').format('LL')%></span>
        </div>
    </div>

    <div class="profile-info-row">
        <div class="profile-info-name"> 详细内容 </div>

        <div class="profile-info-value">
            <blockquote>
                <p class="lighter line-height-125">
                    <%= intern.content%>                </p>
            </blockquote>
        </div>
    </div>



</div>
    </div>
<%-include footer%>

