<%-include header%>
<header class='demos-header'>
    <h1 class="demos-title">实习消息</h1>
</header>

<article class="weui_article">
    <h1><%=intern.company%></h1>
    <section>
        <h2 class="title"><%=intern.category%></h2>
        <section>
            <h3>
                <span class="text-bold">时间:</span>
                <%= moment(intern.createTime).locale('zh-cn').format('LL HH:mm:ss')%>
                </span>
            </h3>
            <p><%= intern.content%></p>
        </section>
    </section>
</article>

<%-include footer%>

