<%-include header%>

<div class = "container">
    <div class="row">
        <table class = "table table-striped">
            <caption>少年，你的实习</caption>
            <thead>
            <tr>
                <th>公司</th>
                <th>类别</th>
                <th>发布时间</th>
            </tr>
            </thead>
            <tbody>
            <%interns.forEach(function(intern){%>
            <tr>
                <td>
                    <a href="/detail/<%=intern._id %>"><%=interns.company %></a>
                </td>
                <td><%= interns.category %></td>
                <td><%= interns.createTime %></td>
            </tr>
            <%});%>
            </tbody>
        </table>
    </div>
</div>

<%-include footer%>
